RewriteEngine On

RewriteRule ^favicon\.ico$ assets/images/favicon-32x32.png [L]

Options -Indexes

AddType image/jpeg .jfif .jpeg .jpg
AddType image/png .png
AddType image/webp .webp
AddType image/gif .gif
AddType image/svg+xml .svg

<Files ".env">
    Require all denied
</Files>

<Files "composer.json">
    Require all denied
</Files>

<Files "composer.lock">
    Require all denied
</Files>

<Files "NEED TO DOWNLOAD.txt">
    Require all denied
</Files>

<Files "package.json">
    Require all denied
</Files>

<Files "package-lock.json">
    Require all denied
</Files>

<Files ".user.ini">
    Require all denied
</Files>

Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "DENY"
Header always set X-XSS-Protection "1; mode=block"
Header always set Referrer-Policy "strict-origin-when-cross-origin"
Header always set Permissions-Policy "camera=(), microphone=(), geolocation=(self)"
